@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300&family=Sigmar+One&family=Exo+2:wght@800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", cursive;
  background-color: #0e0502;
  background-image: url("images/halloween.jpg");
  background-attachment: fixed;
  background-size: cover;
}

/***** index.html *****/

#darkeningOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) 90%); /* Adjusting gradient percentages */
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
}

/* Keyframes for the flashing effect */
@keyframes flashDark {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#darkeningOverlay.flash {
    animation: flashDark 3s infinite; /* Flash every 4 seconds */
}
.outer-container-home {
  display: grid;
  font-family: 'Arial', sans-serif;
  background-image: url('images/halloween.jpg');
  background-size: cover;
  align-items: center;
  justify-items: center;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.inner-container-home {
  width: 70%;
  height: auto;
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: white;
  border-radius: 50px;
}

.inner-container-home h2 {
  margin: 25px 0;
}

.inner-container-home p {
  margin: 10px 0;
  text-align: center;
}

h1,h2 {
    font-family: 'Nosifer', cursive;  /* Another spooky font just for headings */
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline overline double; 
}

h1::before {
    top: 0;
    transform: rotate(2deg);
}

h1::after {
    bottom: 0;
    transform: rotate(-2deg);
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1.5px;  /* Increase spacing between letters for creepiness */
    word-spacing: 2px;  /* Increase spacing between words */
}

.home-img {
  width: 25%;
  animation: moveLeftRight 1s infinite alternate;

}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.start {
  border-radius: 40px;
  text-decoration: none;
  width: 200px;
  margin: 20px auto;
  border: none;
  color: black;
  background: rgb(226,99,32);
  background: linear-gradient(45deg, #f7b733, #fc4a1a);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  padding: 12px;
  cursor: pointer;
  outline: none;
  font-family: "Exo 2", sans-serif;
  display: block;
      box-shadow: 0px 0px 10px #000;  /* Shadow around the button */
    transition: all 0.3s ease-in-out;
}

.level {
    display: inline-block;
    background: linear-gradient(45deg, #f7b733, #fc4a1a);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    text-decoration: none; 
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;  
    margin: 5px;  /* To give some space between the buttons */
}

.level:hover {
    background: linear-gradient(45deg, #fc4a1a, #f7b733);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

p::before, p::after {
    content: '\f6c5';  /* FontAwesome Bat icon */
    font-family: "Font Awesome 5 Pro";  /* Assuming you're using FontAwesome Pro */
    margin-right: 10px;
    margin-left: 10px;
    color: #FF5733;
}


/***** home.html *****/

/*.Easy {
  border-radius: 40px;
  text-decoration: none;
  background-image: url('images/halloween.jpg');
  background-size: cover;
  width: 200px;
  margin: 20px auto;
  border: none;
  color: black;
  background: rgb(226,99,32);
  background: linear-gradient(0deg, rgba(232, 87, 9, 0.498) 0%, rgba(232, 87, 9, 0.498) 100%);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  padding: 12px;
  cursor: pointer;
  outline: none;
  font-family: "Exo 2", sans-serif;
  display: block;
}*/
/*
.Medium {
  border-radius: 40px;
  text-decoration: none;
  width: 200px;
  margin: 20px auto;
  border: none;
  color: black;
  background: rgb(226,99,32);
  background: linear-gradient(0deg, rgba(232, 87, 9, 0.498) 0%, rgba(232, 87, 9, 0.498) 100%);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  padding: 12px;
  cursor: pointer;
  outline: none;
  font-family: "Exo 2", sans-serif;
  display: block;
}

.Hard {
  border-radius: 40px;
  text-decoration: none;
  width: 200px;
  margin: 20px auto;
  border: none;
  color: black;
  background: rgb(231, 204, 6);
  background: linear-gradient(0deg, rgba(151, 223, 7, 0.498) 0%, rgba(222, 212, 13, 0.498) 100%);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  padding: 12px;
  cursor: pointer;
  outline: none;
  font-family: "Exo 2", sans-serif;
  display: block;
}*/

.Home-Heading {
  border-radius: 40px;
  text-decoration: none;
  width: 400px;
  margin: 20px auto;
  border: none;
  color: black;
  background: rgb(226,99,32);
  background: linear-gradient(0deg, rgb(165, 137, 13) 0%, gold 100%);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  padding: 15px;
  cursor: pointer;
  outline: none;
  font-family: "Exo 2", sans-serif;
  text-align: center;
 
}


#container {
  position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
  grid-template-rows: 10vh 15vh 70vh;
  grid-template-areas:
    "header"
    "score-panel"
    "deck";
  width: 100%;
  height: 100vh;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
}

/*** Header ***/
header {
  grid-area: header;
  margin: 15px 0;
  font-family: "Exo 2", cursive;
  letter-spacing: 1px;
  font-size: 1.5em;
  color: orange;
}

.header h1 {
   margin-top: 10px;
   text-align: center;
   color: #333;
   font-size: 2.5rem;
   margin-bottom: 20px;
}

.decoration {
  font-family: 'Nosifer', cursive;
  margin-bottom: 20px;
  text-decoration: underline overline double;
  color: #f7f5f5; 
}

/*** Score Panel ***/
.score-panel {
  grid-area: score-panel;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, auto);
  grid-template-areas: "star-rating moves timer-container reset-btn";
  width: 70%;
  justify-items: center;
  align-items: center;
  padding: 20px;
  font-family: "Exo 2", sans-serif;
}

#star-rating {
  grid-area: star-rating;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star i {
    color: #FFD700; /* Gold for stars */
    font-size: 24px;
    margin: 0 5px;
    transition: color 0.3s ease-in-out;
}

.star:hover i,
.star i:hover {
    color: #FF4500; /* Red-Orange for hovered star */
}


.star {
  display: inline-block;
  color: gold;
  font-size: 1.2rem;
}

.fa-star {
-webkit-text-stroke-width: 0.25px;
-webkit-text-stroke-color: rgb(57, 56, 56);
}

.moves {
  grid-area: moves;
  font-family: 'Chiller', cursive; /* Halloween inspired font */
  color: #FF4500; /* Red-Orange */
  font-size: 30px;
  text-shadow: 2px 2px 4px #000;
}

.moves h3 {
  font-size: 0.8rem;
}

.moves-header {
  color: orange;
}

.moves-counter {
  color: white;
  font-weight: bold;
}

.timer-header {
  color: orange;
}

.fa-clock {
  color: white;
}

.timer {
    font-family: 'Chiller', cursive; /* Halloween inspired font */
    color: white; /* LimeGreen for timer text */
    font-size: 30px;
    text-shadow: 2px 2px 4px #000;
}

.timer i {
    margin-right: 10px;
}

.timer-container {
  grid-area: timer-container;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset {
  grid-area: reset-btn;
}

/*** Buttons ***/


.btn:hover, .start:hover {
  background: linear-gradient(0deg, rgb(4, 93, 7) 0%, #04b536 100%);
  color: white;
}

.close {
  align-self: flex-end;
  color: #28e;
  font-size: 2rem;
  margin-right: 30px;
  position: absolute;
  top: 10px;
}

.close:hover,
.close:focus {
  color: #5cf;
  text-decoration: none;
  cursor: pointer;
}

.play-again-btn {
  margin-bottom: 10px;
}

.play-again-btn:hover {
  background: black;
  color: white;
}

/*** Deck that contains cards ***/
.deck {
  grid-area: deck;
  background-color: rgba(219, 127, 13, 0.3);
  border-radius: 2em;
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(4, 1fr);
/*  grid-template-areas: "card card card card card card"
  "card card card card card card"
  "card card card card card card"
  "card card card card card card";*/
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 70%;
  max-width: 1200px;
  grid-gap: 20px; /* Reduced grid-gap to bring cards closer */
  padding: 20px 40px 0 40px;
  box-sizing: border-box;
  margin: 30px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adding a reddish shadow for a haunted effect */
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.7), 0 0 10px rgba(255, 165, 0, 0.7) inset;
  }
  50% {
    transform: translateY(-20px);  /* Increased from -10px to -30px */
    box-shadow: 0 5px 15px rgba(255, 165, 0, 0.7), 0 5px 15px rgba(255, 165, 0, 0.7) inset;
  }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.card {
  background-color: rgba(86, 7, 115, 0.7); /* Orange color with slight transparency */
  background-image: url("images/Pumpkin.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1em; /* Increased border-radius for a softer look */
  border: solid 1px rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.7), 0 0 10px rgba(255, 165, 0, 0.7) inset; /* Orange glow for Halloween theme */
  transition: all 0.3s ease; /* Smooth transition effect on hover */
  animation: float 3s infinite alternate;
  margin-bottom: 0;
}

.card:hover {
  background-color: #0d6610;
  background-image: url("images/Pumpkin.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
  transform: scale(1.05) translateY(-5px); /* Slight enlargement and upward movement on hover for a spooky feel */
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8), 0 0 40px rgba(0, 255, 0, 0.8) inset; 
}


.deck img {
  width: 50%;
  visibility: hidden; 
}

.flip {
background: #000000;
cursor: default;
transform: rotateY(180deg);
transition: transform 0.3s linear;
pointer-events: none;
border: none;
}

.flip img {
background: #daf106; /*changed to yellow so card is visible */
visibility: visible;
}

.match {
background: #038728;
visibility: visible;
cursor: default;
animation: pulse 1s;
}

.match img {
background: transparent;
}

.noMatch {
  background: rgb(182, 3, 3);
  visibility: visible;
  cursor: default;
  animation: pulse 1s;
}

/*** Game win Modal ***/

/* outer modal container */
.win-game-modal {
  display: grid;
  align-items: center;
  justify-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 61, 73);
  background-color: rgba(46, 61, 73, 0.6);
  justify-items: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 20px auto;
  border: 0.8em solid #fc4;
  width: 90%;
  height: 90%;
  position: relative;
}

.modal p {
  margin: 5px 0;
  text-align: center;
}

.modal-img {
  width: 20%;
  margin: 15px 0;
}

.fa-check-circle {
  color: green;
  margin: 0 5px;
}

.fa-check {
  color: rgb(57, 57, 247);
  margin: 0 5px;
}

.fa-times-circle {
  color: red;
  margin: 0 5px;
}

/*** Animations ***/
@keyframes pulse {
0% {
  transform: scale(1);
}
80% {
  transform: scale(1.05);
}
100% {
  transform: scale(1);
}
}

@keyframes stars-pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
  }

  /*************** Media Queries ***************/

  /*** Small devices ***/

@media only screen and (max-width: 600px){

/***** index.html *****/

.inner-container-home{
  width: 90%;
  height: auto;
  padding: 15px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: white;
}

.inner-container-home h2 {
  margin: 25px 0;
}

.inner-container-home p {
  margin: 20px auto;
  line-height: 25px;
  width: 90%;
}

.home-img {
  width: 55%;
  margin: 10px 0;
}

.start {
  border-radius: 40px;
  text-decoration: none;
  width: 200px;
  margin-top: 30px;
  display: block;
}

/** home.html **/

  .deck {

    width: 92%;
    height: 90%;
    grid-gap: 10px;
    margin-top: -25px;
  }

  .header h1 {
    font-size: 1.3em;
    margin-top: 15px;
  }

  .score-panel {
    width: 100%;
    font-size: 0.65rem;
  }

  .timer i {
    display: none;
  }

  .moves h3 {
    font-size: 0.6rem;
  }

  .card {
    background-size: 100%;
  }

  .card img {
    width: 100%;
  }

  .reset-btn {
    width: 70px;
    font-size: 0.7rem;
    padding: 10px;
  }

  .reset-btn i {
    display: none;
  }

  .modal-content {
    height: auto;
    margin: 20% auto;
    padding: 50px 8px;
  }

  .modal p {
    font-size: 0.7rem;
    text-align: center;
    line-height: 15px;
  }

  .modal-img {
    width: 40%;
  }

  .close {
    margin-right: 15px;
    margin-top: -10px;
  }

  .play-again-btn {
    margin-bottom: 20px;
  }
}

/*** Tablets ***/
@media only screen and (min-width: 600px) and (max-width: 768px){

/***** index.html *****/

.inner-container-home{
  width: 85%;
  height: 75%;
  padding: 25px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: white;
}

.inner-container-home h2 {
  margin: 25px 0;
  font-size: 3rem;
}

.inner-container-home p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 40px;
}

.home-img {
  width: 50%;
  margin: 10px 0;
}

.start {
  border-radius: 40px;
  text-decoration: none;
  width: 200px;
  margin-top: 0;
  display: block;
}

/** Large tablets **/
@media only screen and (min-width: 992px) and (max-width: 1200px) {

/***** index.html *****/

.inner-container-home{
  width: 90%;
  height: 85%;
  padding: 15px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: white;
}

.inner-container-home h2 {
  margin: 25px 0;
  font-size: 4rem;
}

.inner-container-home p {
  margin: 20px auto;
  width: 90%;
  font-size: 2rem;
  line-height: 60px;
}

.home-img {
  width: 45%;
  margin: 10px 0;
}

.start {
  border-radius: 40px;
  text-decoration: none;
  width: 400px;
  height: 100px;
  margin-top: 60px;
  display: block;
  font-size: 2rem;
  line-height: 80px;
}

/*** Extra large screens **/
@media only screen and (min-width: 1920px){
  .deck {
    padding: 50px;
    grid-gap: 50px;
    border-radius: 60px;
  }

  .card {
    width: 95%;
    height: 95%;
    border-radius: 60px;
  }

  .card img {
    width: 40%;
  }

  .header h1 {
    font-size: 8em;
    margin-top: 2%;
  }

  .score-panel {
    font-size: 4em;
  }

  .star {
    font-size: 2em;
  }

  .moves, .moves-header, .timer-container {
    font-size: 1.5em;
  }

  .reset-btn {
    width: 500px;
    height: 200px;
    font-size: 1.2em;
  }

  .modal-content {
    width: 50%;
    height: 60%;
    font-size: 4em;
    margin: 10% auto;
  }

  .modal p {
    padding: 1%;
  }

  .play-again-btn {
    margin: 2%;
    font-size: 3rem;
    width: 400px;
    height: 150px;
  }

  .close {
    font-size: 7rem;
    margin-top: -60px;
  }
}